language: ruby
cache: bundler
rvm:
- 2.3
- 2.4
- 2.5
- 2.6
- ruby-head
- jruby-9.2.12.0
matrix:
  allow_failures:
  - rvm: ruby-head
  - rvm: jruby-9.2.12.0
notifications:
  email: false
deploy:
  provider: rubygems
  api_key:
    secure: jL1lH/wfeRa5MoZRHvkXcZP/Ch7huFxqzbvhEV7UZhiDUBnApcJWkb346jeLEDYnFObUhqhaCZ1/l4fDeSFg2GgatSfEnoWATFVkIf1e4TTGAePlS+4qqsGOcr+XrjP6CEf4o4JACdLuSoT9dtUFj0xkFLnDWILxneXIrqDE9VU=
  gem: redis-session-store
  on:
    tags: true
    repo: roidrage/redis-session-store
    rvm: 2.6.6
